/* CSS MEDIA SMARTPHONE (IPHONE 8) */

@media only screen and (max-width: 685px) {


/*Font */



/* HEADER  */

header {
    padding: 32px 0 0 0;
    margin-left: 21px;
}

header > a {
    margin: 15px 21px 0 0;
}

#sommaire {
    display: flex;
    justify-content: center; 
    float: none;
    margin: 30px 0 0 -21px;
}

#sommaire a{
    border-bottom: 2px solid var(--gris);
    padding: 0 50px 18px 50px;
    flex: 1;
}

#sommaire a:hover {
    border-top: 0px;
    border-bottom: 2px solid var(--bleu);
} 

header > h2 {
    margin-top: 30px;
    margin-right: 20px;
}

/* HEADER BARRE DE RECHERCHE */

form input[type="text"] {
    width: 247px;
}

form input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.0);
    color:  rgba(0, 0, 0, 0.0);
    width: 0;
}

form button {
    background-color:  var(--bleu);
    margin-right: 21px;
}

form button i {
    color: white;
}

/* HEADER BOUTONS FILTRES*/

#filtres > h4 {
    margin-right: 500px;
}

.bouton {
    margin-right: 10px;
}

.bouton h4 {
    font-size: 0.95em;
}

/* SECTJION HEBERGEMENT */

#hebergements {                 
    margin: 0px;
    width: auto;
}

.flex {
    justify-content: center;
}

/* SOUS-SECTJION HEBERGEMENT LES PLUS POPULAIRES*/

#pop {
    width: 100%;
    border-radius: 0;
    padding: 47px 0 0 0;
    margin: 37px 0 0 0;
}

#pop h3 {
    margin-left: 20px;
}

#pop > i {
    margin-right: 20px;
}

.article2 {
    width: 335px;
}

.article2 h5, .article2 a  {
    margin: 15px 10px 0 0;
}

/* SOUS-SECTJION HEBERGEMENT RESULTATS*/

#heb {
    background-color: white;
    width: 600px;
    height: auto;
    margin: 37px 0 0 0;
    padding: 47px 0 0 0;
}

#heb h3 {
    margin-left: 20px;
}

#heb h4 {
    margin-left: 20px;
}


.article1 {
    width: 335px;
}

.article1 div {
    width: 325px;
}

.article1 a:first-child {                               /*carte cliquable*/
    width: 335px;
}

/* ACTIVITE */

#activites {
    margin-right: 0px;
}

#activites > h3{
    margin-left: 20px;
}

#act {
    margin: 27px 0 0 0;
    height: auto;
    flex-direction:row;
    justify-content: center;
}

#act article {
    margin: 0 0 22px 0;
    width: 335px;
}

 .ht1, .ht2, .ht3, .ht4, .ht5 {
    height: 169px;
 }

 .m1, .m2, .m3, .m4, .m5 {
    margin-top: 112px;
 }

 #act article div:last-child {
    width: 335px;
}

#act article a{                           /*carte cliquable*/
    width: 335px;
}

/* FOOTER */

footer {
    padding: 30px 0 0 32px;
}

}/* FIN DU MEDIA */