/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}

:root
{
    --bleu: #0065FC;
    --bleuclair: #DEEBFF;
    --gris: #F2F2F2;
    --ombre:  rgb(235, 232, 232);

}
body
{
    font-family: 'Raleway', sans-serif;
}


/* HEADER  */

header
{
    padding: 50px;
}

header > a
{
    float: right;
    color: var(--bleu);
    font-weight: bold; 
}


header ul
{
    float: right;
}

header ul li
{
    display: inline-block;
    margin-right: 80px;
}

header ul li a:hover
{
    color: var(--bleu);
    font-weight: bold; 
} 

.bulle
{
    display: flex;
    width: 40px;
    height: 40px;
    background-color:#DEEBFF;
    border-radius: 20px;
}

.bulle i
{
    margin: auto;
}

/* HEBERGEMENT */

section
{
    display: inline-flex;
}

.heb
{
    box-sizing: border-box;
    background-color: var(--gris);
    width: 880px;
    height: 624px;
    border-radius: 16px;
    padding: 40px;
}

.pop
{
    box-sizing: border-box;
    background-color: var(--gris);
    width: 420px;
    height: 624px;
    border-radius: 16px;
    padding: 40px;
    margin-left: 41px;
}

.article1
{
    background-color: white;
    width: 246px;
    height: 199px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 5px 5px 0px 5px;
    margin-top: 40px;
    font-size: 12px;
    box-shadow: 0px 4px 10px var(--ombre);
}

.article1 div
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 236px;
    height: 114px;
    border-radius: 10px 10px 0px 0px;
}

.article1 h3
{
    margin: 8px;
}

.article1 p
{
    margin: 8px;
    color: var(--bleu);
}

.article1 a
{
    margin: 8px;

}

.article2
{
    background-color: white;
    width: 343px;
    height: 144px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 5px 0px 5px 5px;
    margin-top: 33px;
    font-size: 12px;
    box-shadow: 0px 4px 10px var(--ombre);

}

.article2 div
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 127px;
    height: 134px;
    border-radius: 10px 0px 0px 10px;
    float: left;
}

.article2 h3
{
    margin: 10px;
}

.article2 p
{
    margin: 10px;
    color: var(--bleu);
}

.article2 a
{
    margin: 10px;

}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ACTIVITE */

section
{
    margin: 50px;
}


.article
{

    width: 302px;
    height: 237px;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 43px;
    font-size: 10px;
}

.article div:first-child
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 302px;
    height: 180px;
    border-radius: 16px 16px 0px 0px;
}

.article div:last-child
{
    background-color: white;
    width: 302px;
    height: 57px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 10px var(--ombre);
    box-sizing: border-box;
    padding: 20px;
    font-size: 12px;
}






/* FOOTER */

footer
{
    height: 300px;
    background-color: var(--gris);
    padding: 40px;
}

footer ul
{
    margin-bottom: 30px;
    list-style: none;
    float: left;
    width: 500px;
}