/* CSS MEDIA TABLETTE */

@media only screen and (max-width: 1450px) {

/* SOUS-SECTJION HEBERGEMENT LES PLUS POPULAIRES*/

#pop {
    width: 880px;
    height: auto;
    margin: 37px 40px 0 40px;
    padding-right: 17px;
}

#pop > i {
    margin-right: 20px;
}

#pop .flex {
    justify-content: space-around;
}

.article2 {
margin-right: 20px;
}

/* SOUS-SECTJION HEBERGEMENT RESULTATS*/

#heb {
    margin: 37px 40px 0 40px;
    padding-right: 20px;
}

.article1 {
    margin: 0 20px 30px 0;
}

/* ACTIVITE */

#activites h2 {
    margin: 27px 0 0 40px;
}

#act {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ht1, .ht2, .ht3, .ht4, .ht5 {
    height: 210px;
 }

 .m1, .m2, .m3, .m4, .m5 {
    margin-top: 153px;
 }

}/* FIN DU MEDIA */